# 1️⃣ List

**Definition:**  
Python me **list** ek **ordered collection** hai jo **mutable** hota hai aur **duplicate elements** allow karta hai.  
- List ke elements **different data types** ke bhi ho sakte hain.  
- List **square brackets `[ ]`** me define ki jati hai aur elements **comma `,` se separate** hote hain.

In [2]:
# Example 1: Basic list
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [3]:
# Example 2: List with mixed data types
mixed = [10, "Python", 3.14, True]
print(mixed)

[10, 'Python', 3.14, True]

In [4]:
# Example 3: List with duplicates
duplicates = [1, 2, 2, 3, 4, 4, 5]
print(duplicates)

[1, 2, 2, 3, 4, 4, 5]

In [5]:
# Example 4: Accessing elements (indexing)
fruits = ["apple", "banana", "cherry"]
print(fruits[0])   # First element
print(fruits[-1])  # Last element

apple
cherry

In [6]:
# Example 5: Modifying elements (mutable)
nums = [10, 20, 30]
nums[1] = 25
print(nums)

[10, 25, 30]

In [7]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])       # apple
fruits.append("orange")
print(fruits)          # ['apple', 'banana', 'cherry', 'orange']
print(fruits[1:3])     # ['banana', 'cherry']
print(type(fruits))

apple
['apple', 'banana', 'cherry', 'orange']
['banana', 'cherry']
<class 'list'>



# Common List Operations


Python lists par **common operations** perform kiye ja sakte hain jaise elements add, remove, modify, sort, aur reverse karna.  

**Built-in List Methods:**  

1. **append()** → List ke end me ek element add karta hai  
2. **insert()** → Specific position par element add karta hai  
3. **remove()** → List me se specific element remove karta hai  
4. **pop()** → Last element ya specified index ka element remove karke return karta hai  
5. **sort()** → List ko ascending order me sort karta hai  
6. **reverse()** → List ka order reverse karta hai  

---


## **1. append() – Add element at the end**

In [10]:

# Example 1
nums = [1, 2, 3]
nums.append(4)
print(nums)

[1, 2, 3, 4]

In [11]:

# Example 2
fruits = ["apple", "banana"]
fruits.append("cherry")
print(fruits)

['apple', 'banana', 'cherry']

In [12]:
# Example 3
mixed = [10, "Python"]
mixed.append(3.14)
print(mixed)

[10, 'Python', 3.14]

# 2. insert() – Add element at specific index

In [ ]:
# Example 1
nums = [1, 2, 3]
nums.insert(1, 5)  # Insert 5 at index 1
print(nums)

In [ ]:
# Example 2
fruits = ["apple", "cherry"]
fruits.insert(1, "banana")
print(fruits)

In [ ]:
# Example 3
letters = ["a", "c", "d"]
letters.insert(1, "b")
print(letters)


# 3. remove() – Remove specific element

In [15]:
# Example 1
nums = [1, 2, 3, 2]
nums.remove(2)
print(nums)

[1, 3, 2]

In [16]:

# Example 2
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [17]:
# Example 3
letters = ["a", "b", "c"]
letters.remove("a")
print(letters)

['b', 'c']

# 4. pop() – Remove and return element

In [20]:
# Example 1: Pop last element
nums = [1, 2, 3]
print(nums.pop())
print(nums)

3
[1, 2]

In [21]:
# Example 2: Pop specific index
fruits = ["apple", "banana", "cherry"]
print(fruits.pop(1))  # Removes "banana"
print(fruits)

banana
['apple', 'cherry']

In [22]:
# Example 3: Using pop with empty list
letters = ["a"]
print(letters.pop())
print(letters)

a
[]


# 5. sort() – Sort the list

In [25]:
# Example 1: Sort numbers
nums = [3, 1, 4, 2]
nums.sort()
print(nums)

[1, 2, 3, 4]

In [26]:
# Example 2: Sort strings
fruits = ["banana", "apple", "cherry"]
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry']

In [27]:
# Example 3: Sort in descending order
nums = [5, 2, 9, 1]
nums.sort(reverse=True)
print(nums)

[9, 5, 2, 1]

# 6. reverse() – Reverse the list

In [31]:
# Example 1
nums = [1, 2, 3, 4]
nums.reverse()
print(nums)

[4, 3, 2, 1]

In [32]:
# Example 2
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [33]:

# Example 3
letters = ["a", "b", "c", "d"]
letters.reverse()
print(letters)

['d', 'c', 'b', 'a']


# Indexing and Slicing

## **Indexing**:
- List ke individual element ko access karne ke liye use hota hai.
- Syntax: list[index]
- Positive index → Start se count (0 se)
- Negative index → End se count (-1 se)

In [36]:
# Example 1
fruits = ["apple", "banana", "cherry"]
print(fruits[0])  # "apple"

apple

In [37]:
# Example 2
print(fruits[2])  # "cherry"

cherry

In [38]:
# Example 3
print(fruits[-1])  # "cherry" (last element)

cherry

In [39]:
# Example 4
print(fruits[-2])  # "banana"

banana

## **Slicing**

In [41]:
# Example 1: Slice first two elements
fruits = ["apple", "banana", "cherry", "date"]
print(fruits[0:2])  # ["apple", "banana"]

['apple', 'banana']

In [42]:

# Example 2: Slice from index 1 to 3
print(fruits[1:3])  # ["banana", "cherry"]

['banana', 'cherry']

In [43]:
# Example 3: Slice with step
print(fruits[0:4:2])  # ["apple", "cherry"]

['apple', 'cherry']

In [44]:

# Example 4: Slice till end
print(fruits[2:])  # ["cherry", "date"]

['cherry', 'date']