# 4Ô∏è‚É£ String


Python me **string** ek **ordered sequence of characters** hai jo **immutable** hoti hai, iska matlab hai ek baar create hone ke baad **characters modify nahi kiye ja sakte**.  

- Strings ko **single quotes `' '`** ya **double quotes `" "`** me define kiya jata hai.  
- Strings me **indexing** aur **slicing** ki ja sakti hai, kyunki ye ordered hoti hain.  
- Strings **concatenation (+), repetition (*)**, aur **membership testing (`in`)** jaise operations support karti hain.  
- Strings me **escape sequences**, **multi-line strings**, aur **formatted strings** (f-strings) ka use kiya ja sakta hai.  

**Key Points:**  
- Ordered ‚Üí Characters ka fix order  
- Immutable ‚Üí Elements change nahi ho sakte  
- Iterable ‚Üí Loops me use ho sakti hai  
- Useful for ‚Üí Text data, messages, file handling, input/output operations

In [2]:
# Example 1: Basic string
s1 = "Hello"
print(s1)

Hello

In [3]:
# Example 2: Single quotes
s2 = 'Python'
print(s2)

Python

In [4]:
# Example 3: String with numbers
s3 = "Python 3.10"
print(s3)

Python 3.10

In [5]:
# Example 4: Multi-line string using triple quotes
s4 = """Hello
Python
World"""
print(s4)

Hello
Python
World

In [6]:
# Example 5: String concatenation
greeting = "Hi, " + "Alice!"
print(greeting)

Hi, Alice!

In [7]:
name = "Alice"
print(name[0])        # A
print(name[1:4])      # lic
print(len(name))      # 5
print(type(name))

A
lic
5
<class 'str'>

# Common String Operations


Python me strings ke sath **multiple operations** perform kiye ja sakte hain jaise indexing, slicing, concatenation, repetition, aur methods.  
- Ye operations strings ko manipulate aur access karne ke liye use hote hain.  
- Strings **immutable** hone ki wajah se original string modify nahi hoti, operations ya methods **new string** return karte hain.

---

## **1. Indexing & Slicing**

**Indexing:**  
- Specific character ko access karne ke liye use hoti hai.  
- Syntax: `string[index]`  
- Positive index ‚Üí start se count, negative index ‚Üí end se count

In [10]:
s = "Python"

# Example 1: First character
print(s[0])  # 'P'

P

In [11]:
# Example 2: Last character
print(s[-1])  # 'n'

n

In [12]:
# Example 3: Third character
print(s[2])  # 't'

t

In [13]:
# Example 4: Second last character
print(s[-2])  # 'o'

o

In [14]:
# Example 5: Using variable for index
i = 4
print(s[i])  # 'o'

o


## **Slicing:**  
- String ka **subset of characters** extract karne ke liye use hoti hai.  
- Syntax: `string[start:end:step]`  
- `start` ‚Üí inclusive, `end` ‚Üí exclusive, `step` ‚Üí optional

In [16]:
s = "Python"

# Example 1: First three characters
print(s[0:3])  # 'Pyt'

Pyt

In [17]:
# Example 2: From index 2 to end
print(s[2:])  # 'thon'

thon

In [18]:
# Example 3: Slice with step
print(s[0:6:2])  # 'Pto'

Pto

In [19]:
# Example 4: Last three characters
print(s[-3:])  # 'hon'

hon

In [20]:
# Example 5: Full string reversed
print(s[::-1])  # 'nohtyP'

nohtyP

## **2. Concatenation (`+`)**

**Explanation:**  
- `+` operator ka use do ya zyada strings ko **combine** karne ke liye hota hai.  
- Original strings modify nahi hoti, nayi string create hoti hai.  

---

In [22]:
# Example 1
s1 = "Hello"
s2 = "World"
print(s1 + " " + s2)  # 'Hello World'

Hello World

In [23]:
# Example 2
greeting = "Hi, " + "Alice!"
print(greeting)  # 'Hi, Alice!'

Hi, Alice!

In [24]:
# Example 3
a = "Python"
b = "3.10"
print(a + b)  # 'Python3.10'

Python3.10

In [25]:
# Example 4
s = "Good" + " " + "Morning"
print(s)  # 'Good Morning'

Good Morning

In [26]:
# Example 5
name = "Bob"
msg = "Hello " + name
print(msg)  # 'Hello Bob'

Hello Bob

## **3. Repetition (`*`)**


- `*` operator ka use string ko **multiple times repeat** karne ke liye hota hai.  
- Original string modify nahi hoti, nayi string create hoti hai.  

---

In [28]:
# Example 1
s = "Hi! "
print(s * 3)  # 'Hi! Hi! Hi! '

Hi! Hi! Hi!

In [29]:
# Example 2
line = "-" * 10
print(line)  # '----------'

----------

In [30]:
# Example 3
emoji = "üòä"
print(emoji * 5)  # 'üòäüòäüòäüòäüòä'

üòäüòäüòäüòäüòä

In [31]:
# Example 4
word = "Python "
print(word * 2)  # 'Python Python '

Python Python

In [32]:

# Example 5
pattern = "*-*"
print(pattern * 4)  # '*-**-**-**-*'

*-**-**-**-*

## **4. String Methods**


- Python strings ke liye multiple built-in **methods** available hain jo string ko modify karte hain aur **new string** return karte hain.  
- Common methods:  
  - `.upper()` ‚Üí Uppercase me convert  
  - `.lower()` ‚Üí Lowercase me convert  
  - `.split()` ‚Üí String ko list me split kare  
  - `.join()` ‚Üí Iterable ko string me join kare  
  - `.replace()` ‚Üí Substring replace kare

### **.upper()** ‚Äì Convert to Uppercase

In [36]:

# Example 1
s = "hello"
print(s.upper())  # 'HELLO'

HELLO

In [37]:
# Example 2
text = "Python Programming"
print(text.upper())  # 'PYTHON PROGRAMMING'

PYTHON PROGRAMMING

In [38]:
# Example 3
name = "alice"
print(name.upper())  # 'ALICE'

ALICE

### **.lower()** ‚Äì Convert to Lowercase

In [43]:

# Example 1
s = "HELLO"
print(s.lower())  # 'hello'

hello

In [44]:
# Example 2
text = "Python Programming"
print(text.lower())  # 'python programming'

python programming

In [45]:

# Example 3
name = "ALICE"
print(name.lower())  # 'alice'

alice

### **.split()** ‚Äì Split string into list

In [51]:



# Example 1
s = "Hello World"
print(s.split())  # ['Hello', 'World']

['Hello', 'World']

In [52]:
# Example 2
text = "Python,Java,C++"
print(text.split(','))  # ['Python', 'Java', 'C++']

['Python', 'Java', 'C++']

In [53]:
# Example 3
line = "a-b-c-d"
print(line.split('-'))  # ['a', 'b', 'c', 'd']

['a', 'b', 'c', 'd']

### **.join()** ‚Äì Join iterable into string

In [59]:

# Example 1
words = ["Hello", "World"]
print(" ".join(words))  # 'Hello World'

Hello World

In [60]:
# Example 2
letters = ['a', 'b', 'c']
print("-".join(letters))  # 'a-b-c'

a-b-c

In [61]:
# Example 3
nums = ['1', '2', '3']
print("".join(nums))  # '123'

123

### **.replace()** ‚Äì Replace substring

In [65]:

# Example 1
s = "Hello World"
print(s.replace("World", "Python"))  # 'Hello Python'

Hello Python

In [66]:
# Example 2
text = "banana"
print(text.replace("a", "o"))  # 'bonono'

bonono

In [67]:
# Example 3
line = "2020-01-01"
print(line.replace("-", "/"))  # '2020/01/01'

2020/01/01

# 5Ô∏è‚É£ Sequence Operations 


| Operation  | Description               | Example          |
| ---------- | ------------------------- | ---------------- |
| Indexing   | Access individual element | `list[0]`        |
| Slicing    | Access subset             | `tuple[1:3]`     |
| Length     | Number of elements        | `len(range(5))`  |
| Membership | Check if element exists   | `'a' in 'Alice'` |
| Iteration  | Loop through elements     | `for x in list:` |